{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Website | Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="logo">MyWebsite</div>
        <nav>
         <!--   {{request.path}}-->
           <li class="{% if request.path == '/' %} active {% endif %}"> <a href="/">Home</a></li>
           <li class="{% if request.path == '/about-us/' %} active {% endif %}"> <a href="/about-us">About Us</a>
           <!--<li class="{% if request.path == '/contact/' %} active {% endif %}"><a href="contact">Contact</a>-->
        <!--method-2-->
            {% url 'contact' as url %}
            <li class="{% if request.path == url %} active {% endif %}"><a href="{{url}}">Contact</a>

            
        
        </nav>
    </header>
