* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: #2c3e50;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .active a{
    background-color: #f4f4f4;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #f1c40f;
}

.hero {
    background: #3498db;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.section {
    padding: 60px 40px;
}

.section.light {
    background: #f4f4f4;
}

.section h2 {
    margin-bottom: 15px;
}

.page {
    padding: 60px 40px;
}

.page h1 {
    margin-bottom: 20px;
}

.page ul {
    margin-top: 10px;
    margin-left: 20px;
}

.contact-form {
    max-width: 400px;
    margin: 20px 0;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-form button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}
marquee{
    width: 100%;
    height: 50px;
    background-color: rgb(156, 240, 239);
}
.pagination {
    display: inline-flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.pagination a {
    padding: 8px 14px;
    text-decoration: none;
    color: #007bff;
    border-right: 1px solid #ddd;
    cursor: pointer;
}

.pagination a:last-child {
    border-right: none;
}

/* Hover effect */
.pagination a:hover:not(.active):not(.disabled) {
    background-color: #f1f1f1;
}

/* Active page */
.pagination .active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

/* Disabled button */
.pagination .disabled {
    color: #999;
    pointer-events: none;
    background-color: #f8f9fa;
}
