* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 80%;
    height: 85vh;
    display: flex;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

/* LEFT */
.login-left {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-left h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.login-left input {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 16px;
}

.login-left button {
    background: #7b4cff;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.login-left button:hover {
    background: #5e36cc;
}

.error {
    color: red;
    margin-top: 10px;
}

/* RIGHT */
.login-right {
    width: 50%;
    background: #7b4cff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-right img {
    width: 70%;
}
